/node_modules/
/dist/
/target/
/src-tauri/gen/apple/
/src-tauri/gen/schemas/
/playwright-report/
/test-results/
/test-results-domain/
/release/google-play/
/release/app-store/

.idea/
.DS_Store
npm-debug.log*
*.log
